#ads-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

#ads-container .ad-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    width: 200px;
}

#ads-container .ad-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

#ads-container .ad-title {
    font-size: 18px;
    margin: 8px 0;
}

#ads-container .ad-description {
    font-size: 14px;
    color: #555;
}

#ads-container .ad-price {
    font-weight: bold;
    margin: 8px 0;
}

#ads-container .ad-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

#ads-container .left-btn, #ads-container .right-btn {
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    background-color: #953392;
    color: white;
}

#ads-container .left-btn:hover, #ads-container .right-btn:hover {
    background-color: #560555;
}