.footer {
  background-color: #5d0843;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.footer-container ul {
  list-style: none;
  padding: 0;
}

.footer-container ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-container ul li a:hover {
  color: #03204e;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}
