<nav class="navbar">
    <div class="navbar-container">
        <a href="../../features/home/home.html">
            <img class="logo" src="../../assets/images/AdsApp_logo.png" alt="AdsApp Logo" />
        </a>
        <div class="hamburger-container">
            <button id="menu-toggle" class="hamburger-menu">☰</button>
            <ul class="nav-links">
                <li><a href="../../features/home/home.html">Home</a></li>
                <li><a href="../../features/ads/ads.html">Ads</a></li>
                <li><a href="../../features/myAds/myAds.html">My Ads</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <a class="nav-icon" href="../../features/favourites/favourites.html">
                <img src="../../assets/images/favourites.png" alt="Favourites">
                <span>Favourites</span>
            </a>
            <a class="nav-icon" href="../../features/cart/cart.html">
                <img src="../../assets/images/cart.png" alt="Cart">
                <span>Cart</span>
            </a>
            <a class="nav-icon" href="../../features/account/account.html">
                <img src="../../assets/images/profile.png" alt="User Profile">
                <span>Profile</span>
            </a>
        </div>
    </div>
</nav>