<nav class="navbar">
    <div class="navbar-container">
        <img class="logo" src="../../assets/images/AdsApp_logo.png" alt="AdsApp Logo" />
        <div class="hamburger-container">
            <button id="menu-toggle" class="hamburger-menu">☰</button>
            <ul class="nav-links">
                <li><a>Home</a></li>
                <li><a>Ads</a></li>
                <li><a>My Ads</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <a class="nav-icon">
                <img src="../../assets/images/favourites.png" alt="Favourites">
                <span>Favourites</span>
            </a>
            <a class="nav-icon">
                <img src="../../assets/images/cart.png" alt="Cart">
                <span>Cart</span>
            </a>
            <a class="nav-icon">
                <img src="../../assets/images/profile.png" alt="User Profile">
                <span>Profile</span>
            </a>
        </div>
    </div>
</nav>